<div class="container">
    <div class="div">
        <form [formGroup]="updateForm">
            <div class="form-group">
                <label for="doctorId">Doctor Id</label>
                <input
                    type="text"
                    class="form-control"
                    id="doctorId" name="doctorId"
                    formControlName="doctorId" readonly
                />
            </div>
            <div class="form-group">
                <label for="doctorName">Doctor Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="doctorName" name="doctorName"
                    formControlName="doctorName"
                    required
                />
            </div>
            <div *ngIf="updateForm.controls['doctorName'].errors && (updateForm.controls['doctorName'].dirty || updateForm.controls['doctorName'].touched)" class="alert alert-danger">
                <div *ngIf="updateForm.controls['doctorName'].errors['required']"> Name is required!</div>
            </div>
            <button type="submit" [disabled]="updateForm.invalid" class="btn btn-success" (click)="updateDoctor()">Update</button> &nbsp;
            <button type="button" class="btn btn-secondary">Cancel</button>
        </form>
    </div>
</div>

