*{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;/* Full viewport height */
    margin: 0;
    overflow: auto;
}


.footer > p{
    height: 50px;
    background-color: rgb(54, 51, 51);
    font-size: 14px;
    color: white;
    margin-left: inherit;
    padding: 1rem 0;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    height: 25%;
    margin-left: 5%;
    align-items: center;
  }
  
  .card {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    background-color: white;
    height: 13rem;
  }

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 768px) {
    .card {
      font-size: 14px;
      margin: 10px 0;
    }
  }
  
  /* For larger screens (desktops) */
  @media (min-width: 1200px) {
    .card {
      font-size: 18px;
    }
  }