<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <!-- Header-->
  <main class="content">
    <br> <h2><i id="i-icon" class="bi bi-heart-pulse"></i> CureWell</h2>
    <div class="container overflow-hidden">
        <p> "A maintainence website where you can manage and get to know the details of all healthcare workers" </p>
    <br><br><br><br><br><br>
    <!-- Place your cards and other content here -->
    <h3> Top Emerging Professionals</h3> <br>
    <div class="cards-container">
        <div class="row gx-5">
        
          <div class="col-md-4">
            <div class="card">
                <h4>Cardiologist</h4>
                <div class="card-body">
                  <p class="card-text">"Healing hearts, Where every heartbeat matters."</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <h4>Anesthesiologist</h4>
                <div class="card-body">
                  <p class="card-text">"We bring precision and peace to every surgery."</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <h4>Gynecologist</h4>
                <div class="card-body">
                  <p class="card-text">"Your partner in health, every step of the way."</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </main><br><br><br>
  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024, Dharsh Company Private Ltd. All rights reserved.</p>
  </footer>
</body>
</html>


