<br>
<div class="container">
    <div class="div" style="align-items: center;">
        <h3> View Doctor</h3>
    </div>
    <br>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Doctor Id</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctorList">
                        <td>{{doctor.doctorId}}</td>
                        <td>{{doctor.doctorName}}</td>
                        <td><button type="button" class="btn btn-primary" (click)="editDoctorDetails(doctor.doctorId, doctor.doctorName)">
                           Edit</button> &nbsp;
                        <button type="button" class="btn btn-primary" (click)="removeDoctor(doctor.doctorId)">Delete</button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
